@import 'tailwindcss';

body {
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes left-right {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0);
  }
}

/* .animate-floating {
  animation: floating 2s infinite ease-in-out;
} */

.float-animation:hover {
  animation: floating 2s infinite ease-in-out;
}
.left-right-animation:hover {
  animation: left-right 3s infinite ease-in-out;
}
